body {
    background-color: gold;
    margin-top:10px;
}

p{
  font-family: Times;
  font-size: 19px;
}

a {
  color: black;
}

img{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5%
}

a:hover{
  background-color: lightblue;
}
