body {
    background-color: maroon;
    color: white;
    margin-top: 10px;
    font-size: 19px;
    font-style: italic;
    font-weight: 900;
    font-family: times;
}

img{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5%
}

a:hover{
  background-color: blue;
}
a:active{
  color:purple;
}
a:link{
  text-decoration: none;
}

h1{
  text-decoration: underline;
}

*{
  color: white;
}

#font-family03{
  font-family: arial;
}

#font-family3{
  font-family: arial;
}
#font-family6{
  font-family: arial;
}

ul > li{
  padding: 10px;
}

h3 + p{
  text-decoration: underline;
}

span{
  font-family: cursive;
}
