body {
    background-color: turquoise;
    margin-top:10px;
    font-size: 19px;
    font-style: italic;
    font-weight: 900;
    font-family: Times;
}

a {
  color: black;
}

img{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5%
}

a:hover{
  background-color: lightblue;
}
a:active{
  color:purple;
}
a:link{
  text-decoration: none;
}

h1{
  text-decoration: underline;
}
#font-family1{
  font-family: arial;
}

#font-family4{
  font-family: arial;
}

ul > li{
  padding: 10px;
}
